<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="static/css/modern-business.css" rel="stylesheet">

    <title>PPP Digital</title>
  </head>
  <body style="padding-top: 40px">
  	<!-- Menu Principal-->

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="index.html">
			<img src="static/img/logobc-branco.png" width="100px">
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 	data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" 		aria-label="Toggle navigation">
  		<span class="navbar-toggler-icon"></span>
		</button>
	    <ul class="navbar-nav ml-auto" >
	    	<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Financeiro
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="bcpro.html">Terminal</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Web</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Wallboard</a>
		          <!--div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a-->
		        </div>
		    </li>
		    <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Agronegócios
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="bcagro.html">Terminal</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Web</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Wallboard</a>
		          <!--div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a-->
		        </div>
		    </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Político</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Trading News</a>
	      </li>
	      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Data Feed
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Terminal</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Web</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Wallboard</a>
		          <!--div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a-->
		        </div>
		    </li>
	      
	    </ul>

	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
	    </form>
	</nav>
	<!-- Fim Menu Principal-->

	<!--Conteúdo-->
	<div>
	  	<div class="container-fluid">
	  	      <h1 class="my-4">Bem vindo ao PPP Digital</h1>

		      <!-- /.row1 -->
		      <div class="row">
		        <div class="col-lg-4 mb-4">
		          <div class="card h-100">
		            <h4 class="card-header">
		            	<center>	
		            			<img src="../static/img/broadcast+.png" width="240" height="50" />
		            	</center>
		            </h4>
		            
		            <div class="card-body">
		              <p class="card-text">Produto orientado ao mercado financeiro profissional, com informações e conteúdo analítico que permite a monitoração das movitações dos mercados nacionais e internacionais, avaliando as tendências e os riscos inerentes antes de tomar uma decisão.</p>
		            </div>
		            <div class="card-footer">
		              <a href="bcpro.html" class="btn btn-primary">Leia mais</a>
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-4 mb-4">
		          <div class="card h-100">
		            <h4 class="card-header">
		            	<center>	
		            			<img src="static/img/BAGRO_2017.png" width="240" height="50" />
		            	</center>
		            </h4>
		            <div class="card-body">
		              <p class="card-text">Notícias, análises, preços, projeções e ferramentas integradas em uma única solução para apoiar profissionais que atuam no agronegócio, desde o produtor ao trader, com informações relevantes que impactam o preço das commodities.</p>
		            </div>
		            <div class="card-footer">
		              <a href="bcagro.html" class="btn btn-primary">Leia mais</a>
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-4 mb-4">
		          <div class="card h-100">
		            <h4 class="card-header">
		            		<center>	
		            	<img src="static/img/BPOL_2017.png" width="240" height="50" />
		            </center>
		            </h4>
		            <div class="card-body">
		              <p class="card-text">
		              	Plataforma web com a cobertura, os impactos e os bastidores do cenário político, em tempo real durante 24 horas por dia. Acompanhando o dia a dia do Congresso e do Judiciário , entrevistas exclusivas com lideres políticos e muito mais
						</p>
		            </div>
		            <div class="card-footer">
		              <a href="#" class="btn btn-primary">Leia mais</a>
		            </div>
		          </div>
		        </div>
		      </div>

		      <!-- /.row2 -->
		      <div class="row">
		        <!-- # Card Brodcast Web

		        <div class="col-lg-4 mb-4">
		          <div class="card h-100">
		            <h4 class="card-header">
		            	<center>	<img src="static/img/BCWeb_Azul_Chumbo.png" width="240" height="50" /></center></h4>
		            <div class="card-body">
		              <p class="card-text">Plataforma web altamente customizável, ideal para corretoras oferecerem aos seus clientes como uma ferramenta para acompanhar o mercado e tomar decisões.
						</p>
		            </div>
		            <div class="card-footer">
		              <a href="#" class="btn btn-primary">Leia mais</a>
		            </div>
		          </div>
		        </div>

		         -->
		        <div class="col-lg-4 mb-4">
		          <div class="card h-100">
		            <h4 class="card-header"><center>	<img src="static/img/TradingNews_Chumbo.png" width="240" height="50" /></center></h4>
		            <div class="card-body">
		              <p class="card-text">Plataforma web com notícias, cotações e chat com a Redação Broadcast em tempo real, além de funcionalidades específicas para investidores do mercado financeiro.</p>
		            </div>
		            <div class="card-footer">
		              <a href="#" class="btn btn-primary">Leia mais</a>
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-4 mb-4">
		          <div class="card h-100">
		            <h4 class="card-header">Broadcast Ticker</h4>
		            <div class="card-body">
		              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
		            </div>
		            <div class="card-footer">
		              <a href="#" class="btn btn-primary">Leia mais</a>
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-4 mb-4">
		          <div class="card h-100">
		            <h4 class="card-header ">
		            	<center>	
		            	<img src="static/img/BDF.png" width="240" height="50" align="middle"/></center>
		            </h4>
		            <div class="card-body">
		              <p class="card-text">O Broadcast Datafeed é uma solução que consolida dados de mercado dos segmentos financeiro e agrícola do mercado brasileiro, contemplando ativos listados e de balcão com funcionalidade de integração lógica com seus sistemas proprietários.</p>
		            </div>
		            <div class="card-footer">
		              <a href="#" class="btn btn-primary">Leia mais</a>
		            </div>
		          </div>
		        </div>		        
		      </div>
		      <!-- /.row3 
		      
		      <div class="row">
		      	 
		        <div class="col-lg-4 mb-4">
		          <div class="card h-100">
		            <h4 class="card-header">Broadcast Wallboard</h4>
		            <div class="card-body">
		              <p class="card-text">Produto orientado ao mercado financeiro profissional, com informações e conteúdo analítico que permite a monitoração das movitações dos mercados nacionais e internacionais, avaliando as tendências e os riscos inerentes antes de tomar uma decisão.</p>
		            </div>
		            <div class="card-footer">
		              <a href="#" class="btn btn-primary">Leia mais</a>
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-4 mb-4">
		          <div class="card h-100">
		            <h4 class="card-header">Broadcast Ticker</h4>
		            <div class="card-body">
		              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
		            </div>
		            <div class="card-footer">
		              <a href="#" class="btn btn-primary">Leia mais</a>
		            </div>
		          </div>
		        </div>
		        <div class="col-lg-4 mb-4">
		          <div class="card h-100">
		            <h4 class="card-header">Outros Serviços</h4>
		            <div class="card-body">
		              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
		            </div>
		            <div class="card-footer">
		              <a href="#" class="btn btn-primary">Leia mais</a>
		            </div>
		          </div>
		        </div>
		      </div>
				
				-->
		</div>		
	</div>
 	<!--fim Conteúdo-->

 	<footer class="py-2 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; PPP Digital 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>